/* copied from plugin for override */
.form-input {
  font-family: Oswald, sans-serif;
  appearance: none;
  background-color: #fff;
  border-color: oklch(55.1% 0.027 264.364) /* #6a7282 */;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 0.5rem /* 8px */;
  padding-right: 0.75rem /* 12px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-left: 0.75rem /* 12px */;
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  --tw-shadow: 0 0 #0000;
  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 199, 246, 0.5);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: rgba(59, 199, 246, 0.5);
  }
  &::placeholder {
    color: oklch(55.1% 0.027 264.364) /* #6a7282 */;
    opacity: 1;
  }
  &::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }
  &::-webkit-date-and-time-value {
    min-height: 1.5em;
  }
  &::-webkit-date-and-time-value {
    text-align: inherit;
  }
  &::-webkit-datetime-edit {
    display: inline-flex;
  }
  &::-webkit-datetime-edit {
    padding-top: 0;
    padding-bottom: 0;
  }
  &::-webkit-datetime-edit-year-field {
    padding-top: 0;
    padding-bottom: 0;
  }
  &::-webkit-datetime-edit-month-field {
    padding-top: 0;
    padding-bottom: 0;
  }
  &::-webkit-datetime-edit-day-field {
    padding-top: 0;
    padding-bottom: 0;
  }
  &::-webkit-datetime-edit-hour-field {
    padding-top: 0;
    padding-bottom: 0;
  }
  &::-webkit-datetime-edit-minute-field {
    padding-top: 0;
    padding-bottom: 0;
  }
  &::-webkit-datetime-edit-second-field {
    padding-top: 0;
    padding-bottom: 0;
  }
  &::-webkit-datetime-edit-millisecond-field {
    padding-top: 0;
    padding-bottom: 0;
  }
  &::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0;
  }
}
