/* https://pow.kim/articles/tailwind-css-plugin-v4 */

@import url(form.css);
@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
  --font-lora: var(--font-lora);
  --font-roboto: var(--font-roboto);
  --font-inter: var(--font-inter);
  --font-mulish: var(--font-mulish);
}
@theme {
  /* Light Mode */
  --color-bgmain: oklch(0.9639 0.01875 250);
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-text: #1f2937;
  --color-surface: #f9fafb;
  --color-border: #e5e7eb;
}
/* Dark Mode */
[data-theme='dark'] {
  --color-bgmain: oklch(0.13 0.028 261.692);
  --color-primary: #ffffff;
  --color-secondary: #34d399;
  --color-text: #f9fafb;
  --color-surface: #1f2937;
  --color-border: #374151;
}

@theme {
  --color-my-pippo: oklch(0.72 0.11 178);
  --color-super-green: color(display-p3 0.2824 0.8353 0.5922);

  --animate-fade-in-scale: fade-in-scale 3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.25);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@layer base {
  body {
    font-family: var(--font-mulish), sans-serif;
  }
  h1 {
    color: var(--color-primary);

    font-weight: 400;
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }

  /* Force double-storey 'a' for fonts with alternates (e.g., Inter) */
}

@layer components {
  .btn-main {
    @apply inline-flex items-center justify-center rounded px-4 py-2 font-medium focus:outline-none;
  }
  .card {
    background-color: var(--color-white);
    border-radius: var(--radius-lg);
    padding: --spacing(6);
    margin: 1rem;
    box-shadow: var(--shadow-xl);
  }
  .striped-bg {
    @apply bg-[repeating-linear-gradient(315deg,currentColor_0,currentColor_1px,transparent_0,transparent_50%)] bg-size-[8px_8px] bg-top-left;
  }
}
